<h1>Edit Album</h1>
<%= form_with(model: @album, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :artist_name %><br>
    <%= form.text_field :artist_name %>
  </p>

  <p>
    <%= form.label :year_released %><br>
    <%= form.text_field :year_released %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Back', album_path %>